@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 75rem;
}

.bgcolor{
    background-color: #679509;
}

.fontfam{
    font-family: 'Pacifico', cursive;
}

.hovermenu:hover{
    color: #679509;
}

.text-font{
    font-family: 'Poppins', sans-serif;
}
.text-font-1{
    font-family: "Pacifico", Sans-serif;
}

.nav_bar ul li:hover ul {
    display: block;
    
}

.hovermenu2:hover{
    color: #61CE70;
}

.textcolor{
    color: #5ed16d;;
}

.overlay {
    transition: .5s ease;
  }
  .ovshow:hover .overlay {
    height: 22%;
  }

  .hovef:hover{
      background-color:#679509;
  }


